[project]
	description = OSP Linux for Android
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/yogeshkrbhat
[access "refs/for/refs/*"]
	read = group user/yogeshkrbhat
	push = group user/yogeshkrbhat
	label-Code-Review = -2..+2 group user/yogeshkrbhat
	label-Verified = -1..+1 group user/yogeshkrbhat
	rebase = group user/yogeshkrbhat
	removeReviewer = group user/yogeshkrbhat
	submit = group user/yogeshkrbhat
[access "refs/heads/*"]
	read = group user/yogeshkrbhat
	create = group user/yogeshkrbhat
	push = +force group user/yogeshkrbhat
	pushMerge = group user/yogeshkrbhat
[access "refs/tags/*"]
	push = +force group user/yogeshkrbhat
	pushTag = group user/yogeshkrbhat
	pushSignedTag = group user/yogeshkrbhat
