[project]
	description = OSP Linux for Android
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group osp-reviewers
	owner = group user/yogeshkrbhat
[access "refs/for/refs/*"]
	read = group user/yogeshkrbhat
	push = group osp-linux-developers
	label-Code-Review = -2..+2 group osp-reviewers
	label-Code-Review = -2..+2 group user/yogeshkrbhat
	label-Verified = -1..+1 group osp-reviewers
	label-Verified = -1..+1 group user/yogeshkrbhat
	rebase = group osp-linux-developers
	rebase = group user/yogeshkrbhat
	removeReviewer = group osp-reviewers
	removeReviewer = group user/yogeshkrbhat
	submit = group Registered Users
	submit = group osp-linux-developers
	submit = group user/yogeshkrbhat
[access "refs/heads/*"]
	read = group user/yogeshkrbhat
	create = group user/yogeshkrbhat
	push = group osp-reviewers
	push = +force group user/yogeshkrbhat
	pushMerge = group osp-reviewers
	pushMerge = group user/yogeshkrbhat
	label-Code-Review = -2..+2 group osp-reviewers
	label-Verified = -1..+1 group osp-reviewers
[access "refs/tags/*"]
	push = +force group user/yogeshkrbhat
	pushTag = group user/yogeshkrbhat
	pushSignedTag = group user/yogeshkrbhat
[receive]
	requireChangeId = true
	requireSignedOffBy = true
[submit]
	action = rebase if necessary
