#
# Config to test the daemon
#

system0.calfile=/sdcard/calfile
# changed to data
#system0.pmdir=/dev/OSPControl
system0.pmdir=/data/OSPControl

input0.type=SENSOR_ACCELEROMETER
input0.copy=output0
input0.name=osp_accel
input0.driver=iio
input0.swap=0,1,2
input0.convert=0.001,0.001,0.001
input0.noise=0.0,0.0,0.0
#input0.noprocess=1

input1.type=SENSOR_GYROSCOPE
input1.copy=output1
input1.name=osp_gyro
input1.driver=iio
input1.swap=0,1,2
input1.convert=1.0
input1.noise=0.0
#input1.noprocess=1

input2.type=SENSOR_MAGNETIC_FIELD
input2.copy=output2
input2.name=osp_mag
input2.driver=iio
input2.swap=0,1,2
input2.convert=1.0
input2.noise=0.0
#input2.noprocess=1

input3.type=SENSOR_ORIENTATION
input3.copy=output3
input3.name=osp_compass_orientation
input3.driver=iio
input3.swap=0,1,2
input3.convert=1.0
input3.noise=0.0
input3.noprocess=1

input4.type=SENSOR_LINEAR_ACCELERATION
input4.copy=output4
input4.name=osp_linear_acceleration
input4.driver=iio
input4.swap=0,1,2
input4.convert=1.0
input4.noise=0.0
input4.noprocess=1

input5.type=SENSOR_GRAVITY
input5.copy=output5
input5.name=osp_gravity
input5.driver=iio
input5.swap=0,1,2
input5.convert=1.0
input5.noise=0.0
input5.noprocess=1

input6.type=SENSOR_ROTATION_VECTOR
input6.copy=output6
input6.name=osp_rotation_vector
input6.driver=iio
input6.swap=0,1,2
input6.convert=1.0
input6.noise=0.0
input6.noprocess=1

input7.type=SENSOR_MAGNETIC_FIELD_UNCALIBRATED
input7.copy=output7
input7.name=osp_uncal_mag
input7.driver=iio
input7.swap=0,1,2
input7.convert=1.0
input7.noise=0.0
input7.noprocess=1

input8.type=SENSOR_GAME_ROTATION_VECTOR
input8.copy=output8
input8.name=osp_game_rotation_vector
input8.driver=iio
input8.swap=0,1,2
input8.convert=1.0
input8.noise=0.0
input8.noprocess=1

input9.type=SENSOR_GYROSCOPE_UNCALIBRATED
input9.copy=output9
input9.name=osp_uncal_gyro
input9.driver=iio
input9.swap=0,1,2
input9.convert=1.0
input9.noise=0.0
input9.noprocess=1

input10.type=SENSOR_GEOMAGNETIC_ROTATION_VECTOR
input10.copy=output10
input10.name=osp_geo_rotation_vector
input10.driver=iio
input10.swap=0,1,2
input10.convert=1.0
input10.noise=0.0
input10.noprocess=1

input11.type=SENSOR_SIGNIFICANT_MOTION
input11.copy=output11
input11.name=osp_sigmot
input11.driver=iioevent
input11.swap=0,1,2
input11.convert=1.0
input11.noise=0.0
input11.noprocess=1

input12.type=SENSOR_STEP_DETECTOR
input12.copy=output12
input12.name=osp_step
input12.driver=iioevent
input12.swap=0,1,2
input12.convert=1.0
input12.noise=0.0
input12.noprocess=1

input13.type=SENSOR_STEP_COUNTER
input13.copy=output13
input13.name=osp_step_counter
input13.driver=iio
input13.swap=0,1,2
input13.convert=1.0
input13.noise=0.0
input13.noprocess=1

output0.type=SENSOR_ACCELEROMETER
output0.name=fm-accelerometer
output0.driver=queue
output0.noprocess=1
#output0.format=shift24

output1.type=SENSOR_GYROSCOPE
output1.name=fm-gyroscope
output1.driver=queue
output1.noprocess=1
#output1.format=shift24

output2.type=SENSOR_MAGNETIC_FIELD
output2.name=fm-magnetometer
output2.driver=queue
output2.noprocess=1
#output2.format=shift12

output3.type=SENSOR_ORIENTATION
output3.name=fm-compass-orientation
output3.driver=queue
#output3.format=shift12
output3.noprocess=1
output3.option=0x1

output4.type=SENSOR_LINEAR_ACCELERATION
output4.name=fm-linear-acceleration
output4.driver=queue
output4.noprocess=1
output4.option=0x1

output5.type=SENSOR_GRAVITY
output5.name=fm-gravity
output5.driver=queue
output5.noprocess=1
output5.option=0x1

output6.type=SENSOR_ROTATION_VECTOR
output6.name=fm-rotation-vector
output6.driver=queue
output6.noprocess=1
output6.option=0x1

output7.type=SENSOR_MAGNETIC_FIELD_UNCALIBRATED
output7.name=fm-uncalibrated-magnetometer
output7.driver=queue
output7.noprocess=1

output8.type=SENSOR_GAME_ROTATION_VECTOR
output8.name=fm-game-rotation-vector
output8.driver=queue
output8.noprocess=1
output8.option=0x1

output9.type=SENSOR_GYROSCOPE_UNCALIBRATED
output9.name=fm-uncalibrated-gyroscope
output9.driver=queue
output9.noprocess=1

output10.type=SENSOR_GEOMAGNETIC_ROTATION_VECTOR
output10.name=fm-geomagnetic-rotation-vector
output10.driver=queue
output10.noprocess=1

output11.type=SENSOR_SIGNIFICANT_MOTION
output11.name=fm-significant-motion
output11.driver=queue
output11.noprocess=1

output12.type=SENSOR_STEP_DETECTOR
output12.name=fm-step-detector
output12.driver=queue
output12.noprocess=1

output13.type=SENSOR_STEP_COUNTER
output13.name=fm-step-counter
output13.driver=queue
output13.noprocess=1

